<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Classify 商品分類</title>
<th:block th:include="./include/header :: header"></th:block>
<script>
	$(document).ready(function() {
		$("#add").on("click", function() {
			var jsonObj = $('#myform').serializeObject();
			var jsonStr = JSON.stringify(jsonObj);
			console.log(jsonStr);
			$.ajax({
				url: "/portfolio/classify/",
				type: "POST",
				contentType: "application/json;charset=utf-8",
				data: jsonStr,
				cache: false,
				processData: false,
				success: function(resp) {
					console.log(JSON.stringify(resp));
					initPageSetup();
				}
			});
		});
		
		$("#upt").on("click", function() {
			var jsonObj = $('#myform').serializeObject();
			var jsonStr = JSON.stringify(jsonObj);
			console.log(jsonStr);
			$.ajax({
				url: "/portfolio/classify/" + jsonObj.id,
				type: "PUT",
				contentType: "application/json;charset=utf-8",
				data: jsonStr,
				cache: false,
				processData: false,
				success: function(resp) {
					console.log(JSON.stringify(resp));
					initPageSetup();
				}
			});
		});
		
		$("#del").on("click", function() {
			var id = $('#myform').find("#id").val();
			$.ajax({
				url: "/portfolio/classify/" + id,
				type: "DELETE",
				success: function(resp) {
					console.log(JSON.stringify(resp));
					initPageSetup();
				},
				error: function(req, stat) {
					alert('此商品分類下仍有股票，無法刪除！');
					//alert(JSON.stringify(req) + ", " + stat);
				}
			});
		});
		
		$("#myTable").on("click", "tr", function(){
			var id = $(this).find('td').eq(0).text().trim();
			console.log(id);
			var url = "/portfolio/classify/" + id;
			$.get(url, function(data, status) {
				console.log(JSON.stringify(data));
				$('#add').attr('disabled', true);
				$('#upt').attr('disabled', false);
				$('#del').attr('disabled', false);
				$('#myform').trigger('reset'); // 表單內容清空（重置）
				// 將資料配置到表單
				$("#myform").find("#id").val(data.id);
				$("#myform").find("#name").val(data.name);
				$("#myform").find("#tx").prop('checked', data.tx);
			});
		});
		
		$("#rst").on("click", function() {
			initPageSetup();		
		});
		
		// 網頁載入完成後所執行的第一個程式
		initPageSetup();
	});
	
	function initPageSetup() {
		$('#add').attr('disabled', false);
		$('#upt').attr('disabled', true);
		$('#del').attr('disabled', true);
		$('#myform').trigger('reset'); // 表單內容清空（重置）
		table_list();
	}
	
	function table_list() {
		$.get("/portfolio/classify/", function(datas, status) {
			console.log(datas);
			console.log(status);
			// 清除 tbody 的內容
			$("#myTable tbody > tr").remove();
			// 加入資料
			$.each(datas, function(i, item) {
				var html = "<tr><td>{0}</td><td>{1}</td><td>{2}</td></tr>";
				$("#myTable").append(String.format(html, item.id, item.name, item.tx));
			});
		});
	}
	
</script>
</head>
<body>
	<th:block th:include="./include/navbar :: navbar"></th:block>
	
	<div class="container">
		<h1>Classify 商品分類</h1>
		<form id="myform" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">ID</label>
				<div class="col-sm-5">
					<input id="id" name="id" type="number" value="0" readonly class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">分類名稱</label>
				<div class="col-sm-10">
					<input id="name" name="name" type="text" value="" placeholder="請輸入分類名稱" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input id="tx" name="tx" type="checkbox" /> 支援交易（TX）
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="add" type="button" class="btn btn-success">新增</button>
					<button id="upt" type="button" class="btn btn-info">修改</button>
					<button id="del" type="button" class="btn btn-danger">刪除</button>
					<button id="rst" type="button" class="btn btn-warning">重置</button>
				</div>
			</div>
		</form>
		<p />
		<h1>Classify 商品分類列表</h1>
		<table id="myTable" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>tx</th>
				</tr>
				<tbody>
					
				</tbody>
			</thead>
		</table>
		
	</div>
	
	<th:block th:include="./include/footer :: footer"></th:block>
</body>
</html>